@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Tomorrow&display=swap");
body {
	background-color: rgb(22, 11, 22);
	font-family: 'Playfair Display', serif;
}

.introBar {
	width: 100%;
	height: 200px;
	background-color: rgb(100, 0, 100);
	border: 0;
	margin: 0;
	font-family: 'Tomorrow', serif;
} 

.introSides {
	width: 47%;
	height: 200px;
	border:0;
	margin: 1%;
	margin-bottom:0;
	margin-top:0;
	display: inline-block;
}

.introBar a:link {
	color: grey;
  }
  
  .introBar a:visited {
	color: lightgrey;
  }
  
  .introBar a:hover {
	color: rgb(26, 0, 26);
  }
  
  .introBar a:active {
	color: orange;
  }

  #introL{
	color: white;
	float: left;
	/*text-shadow: 1px 1px orange; I want this to work, but it won't*/
}


#introR {
	color: white;
	text-align: right;
	list-style-position: inside;
	float: right;
}

#skillsBar{
	width: 27%;
	height: 800px;
	border:0;
	display: inline-block;
	margin:0;
	background-color: rgb(202, 180, 202);
	float:right;
	padding:1%;
}

#experienceBar{
	width:68%;
	height: 800px;
	border: 0;
	display: inline-block;
	margin: 0;
	background-color: rgb(202, 180, 202);
	float:left;
	padding:1%;
}

#experienceBar h2{
	margin-top: 1%;
	font-family: 'Tomorrow', serif;
}

#skillsBar h2{
	margin-top: 1%;
	font-family: 'Tomorrow', serif;
}

#experienceBar h4{
	margin-bottom: 5px;
	font-family: 'Tomorrow', serif;
}

#experienceBar p{
	margin-top: 5px;
}

.emptyProgBar{
	width: 80%;
	height:10px;
	border: black solid;
}

.innerProgBar{
	height:100%;
	background-color:rgb(100, 0, 100);
	/*width:60%;*/
}
/*.imgContainer{
	width: 400px;
	height: 200px;
	margin: auto;
	border:none;
	background-color: aqua;
	background-image: url("")
}*/